.arrow {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  transition: opacity 0.2s ease-in-out;
}

#arrow-up {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}

#arrow-down {
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%) rotate(180deg);
}

#arrow-left {
  top: 50%;
  left: 12px;
  transform: translateY(-50%) rotate(270deg);
}

#arrow-right {
  top: 50%;
  right: 12px;
  transform: translateY(-50%) rotate(90deg);
}

@media screen and (max-width: 1200px) {
  .arrow {
    display: none;
  }
}
