.container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;

  gap: 25px;
  max-width: 800px;
  max-height: 80vh;

  margin: 5vmin;
  padding: 5vmin;

  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}