.form-input {
  border: none;

  padding: 10px;
  border-radius: 10px;

  color: var(--light-primary);
  background-color: var(--dark-secondary);
}

.form-input::placeholder {
  color: var(--light-tertiary);
}

#form-content {
  resize: none;
  height: 100%;
}

#form-error {
  align-self: flex-end;
}

#form-submit {
  border: none;
  align-self: flex-end;

  width: 300px;
  padding: 10px;
  border-radius: 10px;

  color: var(--light-primary);
  background-color: var(--dark-secondary);
}

#form-submit:disabled {
  cursor: not-allowed;
  color: var(--light-tertiary);
}

@media screen and (max-width: 600px) {
  #form-submit {
    width: 100%;
  }
}