.form-input {
  border: none;

  width: 100%;
  padding: 10px;
  border-radius: 10px;

  color: var(--primary-light);
  background-color: var(--secondary);
}

.form-input::placeholder {
  color: var(--secondary-light);
}

#form-content {
  resize: none;
  height: 100%;
}

#form-error {
  align-self: flex-end;
}

#form-submit {
  border: none;
  align-self: flex-end;

  width: 300px;
  padding: 10px;
  border-radius: 10px;

  color: var(--primary-light);
  background-color: var(--secondary);
}

#form-submit:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #form-submit {
    width: 100%;
  }
}