.hover {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.hover:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

/* box-shadow: offset-x offset-y blur spread */