* {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-family: "Robot Mono", monospace;
}

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;

  overflow: hidden;
  position: relative;
  user-select: none;
  overflow-anchor: none;

  color: white;
  background-color: #2b2b2b;
}