:root {
  /* --primary: rgb(25, 25, 25);
  --secondary: rgb(20, 20, 20);

  --primary-light: rgb(250, 250, 250);
  --secondary-light: rgb(150, 150, 150); */
  --primary: rgb(250, 250, 250);
  --secondary: rgb(225, 225, 225);
  --primary-light: rgb(25, 25, 25);
  --secondary-light: rgb(100, 100, 100);
}

* {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-family: "Robot Mono", monospace;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--primary-light);
}

body {
  margin: 0;

  overflow: hidden;
  position: relative;

  color: var(--primary-light);
  background-color: var(--primary);
}

/* {emoji} */
/* {badge} */
/* {circle} */
/* {hover} */

/* {section} */
/* {container} */

/* {profile} */
/* {social} */
/* {social-desktop} */
/* {social-mobile} */
/* {card} */
/* {form} */