/* @media (prefers-color-scheme: dark) { */
:root {
  --primary: rgb(35, 35, 35);
  --secondary: rgb(25, 25, 25);

  --primary-accent: rgb(250, 250, 250);
  --secondary-accent: rgb(150, 150, 150);
}
/* } */

/* @media (prefers-color-scheme: light) {
  :root {
    --primary: rgb(250, 250, 250);
    --secondary: rgb(225, 225, 225);

    --primary-accent: rgb(25, 25, 25);
    --secondary-accent: rgb(125, 125, 125);
  }
} */

* {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-family: "Robot Mono", monospace;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--primary-accent);
}

body {
  margin: 0;

  overflow: hidden;
  position: relative;

  color: var(--primary-accent);
  background-color: var(--primary);
}

/* {emoji} */
/* {badge} */
/* {circle} */
/* {hover} */

/* {section} */
/* {container} */

/* {profile} */
/* {social} */
/* {social-desktop} */
/* {social-mobile} */
/* {guide} */
/* {card} */
/* {form} */

/* .theme-toggle {
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
} */