.outer-container {
  gap: 24px;
  width: 100%;
  max-width: 800px;

  display: flex;
  overflow-x: visible;
  overflow-y: auto;
  justify-content: center;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none;

  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 80vh;
}