.profile {
  gap: 25px;
  height: 128px;
  display: flex;
}

/* .profile-avatar {
  position: relative;
} */

.profile-avatar {
  height: 100%;
  border-radius: 15px;
}

.profile-activity {
  display: flex;

  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgb(35, 35, 35);
}

.profile-activity-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-activity-bar {
  height: 6px;
  margin-top: 10px;
  border-radius: 3px;
  background-color: darkgray;
}

.profile-activity-bar-slider {
  height: 6px;
  min-width: 6px;
  border-radius: 3px;
  background-color: white;
}

.profile-activity-assets {
  position: relative;
}

.profile-activity-large-image {
  height: 100%;
  border-radius: 15px;
}

.profile-activity-small-image-container {
  position: absolute;

  width: 35px;
  height: 35px;

  right: -10px;
  bottom: -10px;

  padding: 5px;
  border-radius: 50%;

  background-color: rgb(35, 35, 35);
}

.profile-activity-small-image {
  height: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .profile-activity {
    display: none;
  }
}