#profile {
  gap: 25px;
  height: 150px;
  display: flex;
}

/*
  avatar and status thing
*/

#profile-avatar-container {
  position: relative;
}

#profile-avatar {
  border-radius: 15px;
}

#profile-avatar-status-container {
  width: 50px;
  height: 50px;
  right: -20px;
  bottom: -20px;
  padding: 10px;

  position: absolute;
  background-color: var(--dark-primary);
}

#profile-avatar-status {
  height: 100%;
}

/* 
  activity
*/

#profile-activity {
  gap: 15px;
  width: 100%;
  padding: 15px;
  border-radius: 15px;

  display: flex;
  background-color: var(--dark-secondary);
}

/* 
  images and stuff
*/

#profile-activity-assets {
  position: relative;
}

#profile-activity-large-image {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#profile-activity-small-image-container {
  width: 40px;
  height: 40px;
  right: -16px;
  bottom: -16px;
  padding: 8px;

  position: absolute;
  background-color: var(--dark-secondary);
}

#profile-activity-small-image {
  height: 100%;
}

/* 
  the text
*/

#profile-activity-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 0px;
  flex-grow: 1;
}

#profile-activity-name,
#profile-activity-details,
#profile-activity-state {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#profile-activity-details,
#profile-activity-state {
  color: var(--light-secondary);
  font-weight: normal;
}

/*
  spotify progress bar thing
*/

#profile-activity-bar-container {
  height: 6px;
  margin-top: 10px;
  border-radius: 3px;

  background-color: var(--light-tertiary);
}

#profile-activity-bar {
  height: 6px;
  min-width: 6px;
  max-width: 100%;
  border-radius: 3px;

  background-color: var(--light-primary);
}

/* 
  its big so no mobile
*/

@media screen and (max-width: 600px) {
  #profile-activity {
    display: none;
  }
}