.section {
  width: 100%;
  height: 100%;

  padding: min(50px, 5vmin);
  box-sizing: border-box;

  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}