#social-mobile-container {
  display: none;
}

@media screen and (max-width: 600px) {
  #social-desktop-container {
    display: none !important;
  }

  #social-mobile-container {
    display: grid;
  }
}
