#social-desktop-container {
  gap: 25px;

  display: flex;
  justify-content: center;
}

.social-desktop {
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-desktop-icon {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}
