@import "./section.css";
@import "./container.css";

@import "./blog.css";
@import "./contact.css";

@import "./form.css";
@import "./card.css";
@import "./guide.css";
@import "./profile.css";
@import "./social.css";

@import "./emoji.css";
@import "./badge.css";
@import "./circle.css";
@import "./hover.css";

:root {
  --dark-primary: #1b1a27;
  --dark-secondary: #17151f;

  --light-primary: rgb(250, 250, 250);
  --light-secondary: rgb(200, 200, 200);
  --light-tertiary: rgb(150, 150, 150);
}

* {
  margin-top: 0;
  margin-bottom: 0;

  font-style: normal;
  font-family: "Roboto Mono", monospace;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--light-primary);
  background-color: var(--dark-primary);
}

a {
  text-decoration: none;
  color: var(--light-primary);
}
