img {
  max-width: 80vw;
  max-height: 80vh;
}

body {
  margin: 0;

  overflow: hidden;
  position: relative;
  user-select: none;
  overflow-anchor: none;

  color: white;
  background-color: #2b2b2b;
  font-family: "Robot Mono", monospace;
  font-style: normal;
}

.slider {
  width: 80vw;
  height: 80vh;

  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 800px;

  display: flex;
  flex-direction: column;
}

.round {
  border-radius: 16px;
}

.card {
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
}